body{
    background-color: rgba(151, 142, 142, 0.747);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.f{
    border-radius: 50%;
    
}

.info5 .f, .info1 .f{
    border: 3px solid rgb(160, 31, 156);
}
a{
    text-decoration: none;
    
}

.x, p{
    color: rgba(255, 255, 255, 0.664);
    margin-right: 5px;
}

.z, .x2, .y2, .xx{
    color: rgb(25, 25, 80);
    margin-right: 5px;
}
.z, .xx{
    color: rgba(25, 25, 80, 0.438);
}
.x1, .y1{
    color: white;
    margin-right: 5px;
}
.y1, .y2{
    font-size: 14px;
}
.info{
    margin: auto;
    padding-top: 40px;
    width: 80%;
    height: 450px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 48% 48%;
    row-gap: 20px;
    column-gap: 20px;

}
.info1{
    position: relative;
    background-color: blueviolet;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    
}
.info2{
    background-color: rgb(9, 9, 75);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.info3{
    background-color: white;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.info4{
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.info5{
    background-color: rgb(26, 23, 23);
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.foto{
    padding: 0;
    display: grid;
    grid-template-columns: 62px 1fr;
    grid-template-rows: 30px 30px;
    
    column-gap: 10px;
}
.foto img{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}


.x, .xx{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 0;
}
.x1, .x2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 18px;
}
.info2, .info3, .info4, .info5{
    border-radius: 10px;
    padding: 10px;
}



.mark{
    position: absolute;
    top: 0;
    right: 5px;
    opacity: 0.5;
    z-index: 1;
}
.info1 .icon{
    margin: 0;
    padding: 10px;
    position: absolute;
    
    z-index: 2;
}
.info1{
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
@media screen and (max-width: 520px){
    .info{
        margin: auto;
        padding-top: 40px;
        width: 80%;
        height: 3600px;
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: repeat(8, 200px);
        row-gap: 20px;      
    
    }   
    .info1{
        
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .icon{
        padding: 20px;
    }
    .info2{
        padding: 20px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }   
    .info4{
        padding: 20px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }  
    .info5{
        padding: 20px;
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }  
    .info3{
        padding: 20px;
        grid-column: 1 / 2;
        grid-row: 7 / 9;
    }  
     
}